


<div style="text-align: center; text-decoration: underline; "><h4>Agreement of Service</h4></div>
        </br>
        <div style="font-size: 13px;">Agreement of service signed by parties on <span style="font-weight: bold; font-size: 14px;">{{current_date}}</span> at Indore, India BETWEEN Evitamin Business Consulting Private Limited (Service Provider)</div>
        <div style="font-size: 13px;">Having its principal place of business at 56-57, Sheshdri Colony, Mahesh Guard Line, Indore - 452006, M.P. AND</div>
        </br>
        <div><span style="font-weight: bold; font-size: 14px;">{{business_name}}</span> (Company Name)</div>
        <div><span class="UPDbrand" style="font-weight: bold; font-size: 14px;">{{brand_name}}</span> (Brand Name)</div>
        <div>Having its principal place of business as <span class="UPDaddress" style="font-weight: bold; font-size: 14px;">{{business_address}}</span></div>
        </br>
        <div class="content7" style="font-size: 14px;">Parties mention above hereby agreed upon the below-mentioned terms:-</div>
        <ol class="list">
            <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Evitamin Business Consulting Private Limited (Service Provider) will provide remove assistance support to sellers, and will manager their {{service_country}} the seller's central account. The scropt of the service is given below. A detailed description of each service.

                <table class="tb" style="margin-top: 10px; border-collapse: collapse;">
                    <thead>
                        <tr class="headRow">
                            <th class="tbHead" style="border: 1px solid black; padding: 2px; margin: 0;">#</th>
                            <th class="tbHead" style="border: 1px solid black; padding: 2px; margin: 0;">Service</th>
                            <th class="tbHead" style="border: 1px solid black; padding: 2px; margin: 0;">Remote Service Offered</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="width:40px; border: 1px solid black; font-size: 12px;">1.</td>
                            <td class="bodyHead" style="width:200px; border: 1px solid black; font-size: 12px;">Listing Products on Amazon Seller Central</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Sellers will provide raw feeds to the Remote Assistant who can use multiple mechanisms - listings loader, flat file formats and 1x1 methods to upload products. Every month we will provide 50 product listings free of cose. If you will skip this privilege then that would not be considered in next month to add on 50 more products.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">2.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Update Price and Quantity</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Price and quantity will be made available through excels and calls to Remote Assistant.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">3.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Search Term Management</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Service provider will gather product relvant keywords and update at product backend for better product visibility on Amazon.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">4.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Negative Feedback Management</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Service Provider will be proactive working on the removal of negative feedbacks which are not as per Amazon's Policies.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">5.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">A-Z Claims Management</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Service Provider will anlyze the A-Z claims filed by the buyer and take appropriate action.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">6.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">FBA and MFN Shipment creation</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Remove assistant will assist sellers in creation ofshipments, taking FC appointments and tracking shipments on behalf of the seller.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">7.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Deals & Promotion</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Remove Assistant will assist sellers in promotion of product though money off, free shipping, coupons.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">8.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Manage returns and refunds</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Remote Assitant will manage return and refund mechanisms to avoid inconvenience to buyer and to protect seller from negative ratings..</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">9.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Buyer-Seller Communication</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Remove Assistant will respond to buyer and Amazon CS queries within 24 hours as per Amazon's policy on contact response time.</td>
                        </tr>
                        <tr class="bodyRow">
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">10.</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px;">Advertising</td>
                            <td class="bodyHead" style="border: 1px solid black; font-size: 12px; padding: 3px 0;">Remote Assistants will create, maintain and optimize different type of campaigns on Amazon platform to increase sales.</td>
                        </tr>
                    </tbody>
                </table>

            </br>
            <table class="tb" style="width: 100%;">
                <thead>
                    <tr class="headRow" style="width: 100%;">
                        <th class="tbHead" style="padding: 0 5px; width: 50%">
                                        <div style="font-size: 12px;">For Evitamin Business Consulting Private Limited</div>
                                        <div style="font-size: 12px;">Mr. Vaibhav Daga</div>
                                        <div style="font-size: 12px;">Director</div>
                        </th>
                        <th class="tbHead" style="padding: 0 5px; width: 50%">
                                        <div style="font-size: 12px;">For {{business_name}}</div>
                                        <div style="font-size: 12px;">Mr. {{name_for_mou}}</div>
                                        <div style="font-size: 12px;">{{designation}}</div>
                        </th>
                    </tr>
                </thead>
            </table>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            <div style="font-size: 14px; font-weight:bold;">Pricing, Invoicing and Payments</div>
            <table class="tb" style="margin-top: 10px; width: 100%; border-collapse: collapse;">
                <thead>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; text-align: center; padding: 5px;">Service</th>
                        <th class="tbHead" style="border: 1px solid black; text-align: center; padding: 5px;">Monthly Fees</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bodyRow" style="text-align: center; font-weight: normal;">
                        <td class="bodyHead" style="border: 1px solid black; padding: 5px; font-size: 14px;">{{service_name}}</td>
                        <td class="bodyHead" style="border: 1px solid black; padding: 5px; font-size: 14px;">{{fees_slab}}</td>
                    </tr>
                </tbody>
            </table>
            </br>
            </br>
            <div style="font-size: 14px; font-weight:bold;">Terms and Conditions</div>
            <ol class="list" style="font-weight:normal;">
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">We are taking Rs. 5,900 as security deposite that will be refunded or adjusted on last biling at the time of termination. This security deposit will be interest free.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Taxes are applicable will be additional on monthly service fees.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">TDS applicable U/s 194-J (Fees on Pofessional Charges) @ 10%.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Invoice will be raised every month to the seller and the seller has to pay the invoice amount within 7 business days.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Invoice for the provided services shall be sent to the seller, at the email address mentioned in Annexure |.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Any issue regarding provided service or generated invoice or payment thereof has to be communicated within 15 days from the date of receipt of such invoice, through email. If no communication is received in such a period, the seller shall be deemed to be having no issue with the same, and the amount payable shall fall due.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Interest at the rate of 2% per month shall be payable on the due amount from the date of expiry of the above-mentioned period of 15 days. If the amount is due up to 60 days the service provider will be liable to stop the service on an immediate basis until cleared or till further notice.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Complete account management service doesn't include order processing, photo-shoot, image editing, A+ Cataloging/EBC, brand page/storefront design.</li>
             </ol>
        </li>
        </br>
        <li class="listItem1" style="list-style-position: inside; font-size: 15px;">Risk and mitigation of risk.
            <ol>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">All the remote assistants working in Evitamin Business Consulting Private Limited sign a Non-Disclosure agreement to ensure that the information handled by them is kept confidential.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">The remote assistant will take user permission of the seller central account to access the seller account. Remote assistans will never ask for a password from the seller.</li>
                <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Courts of Indore have jurisdiction in case of disputes.</li>

            </br>
            </br>
                <table class="tb" style="width: 100%;">
                        <tr class="headRow" style="width:100%;">
                            <th class="tbHead" style="padding: 0 5px; width: 50%;">
                                            <div style="font-size: 12px;">For Evitamin Business Consulting Private Limited</div>
                                            <div style="font-size: 12px;">Mr. Vaibhav Daga</div>
                                            <div style="font-size: 12px;">Director</div>
                            </th>
                            <th class="tbHead" style="padding: 0 5px; width: 50%">
                                            <div style="font-size: 12px;">For {{business_name}}</div>
                                            <div style="font-size: 12px;">Mr. {{name_for_mou}}</div>
                                            <div style="font-size: 12px;">{{designation}}</div>
                            </th>
                        </tr>
                </table>
                    </br>
                    </br>
                    </br>
                    </br>        
                    </br>        
                    </br>        
                    </br>        
                    </br>        
                    </br>        
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Seller should not ask or approach a company's employee to provide service directly establishing the personal relations, or taking service from the company's employee personally or similar to aforesaid. Seller understand very well that the company has incurred huge capital expenditure on developing the infrastructure and training of employees to provide the seller with the best services. Seller conspires with company's employees to get direct services is a grave wrong against the company resulting in breach of trust and injurious to the company in many senses as it results in undue losses. Accordingly, the seller shall not directly or indirectly, or through an agent approach any employee, working full-time or part-time, for any such purspose. In case of violation, the seller will be liable to pay compensation of the 6-month salary of the employee to the company for the losses suffered.</li>
                    <li class="listItem1" style="list-style-position: inside; font-size: 13px;">It is hereby clarified and understood by both the parties that the obligations and responsibilities of the service provider are limited to the deliverables mutually agreed to and set forth in this agreement. The service provider shall not be responsible for any profit or losses in the customer's business over any e-commerce platform or otherwise.</li>
                    <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Nothing in this agreement shall be construed as a promise by the service provider, of causing profit or to protect from any loss associated with the market and the business of the customer, that is to say, the service agreed to be provided under this agreement does not include any promise or assurance of any monetary or commercial profit. Profit and loss in the business of the customer being dehors under the control of the service provider shall not in any manner affect its entitlements and emoluments under this agreement.</li>
                    <li class="listItem1" style="list-style-position: inside; font-size: 13px;">Exit Clause - At the time of termination, both the parties have to notify before 15 days and the seller would be liable to pay applicable service charges to the service provider during the notice period. If any of the parties fails to notify the termination of the agreement then the continuation of services will be deemed and parties will be responsible accordingly for continuous term/period of service.</li>

                </ol>
            </li>
                <div style="text-align: center; text-decoration: underline;"><h4>Annexure</h4></div>
                <table class="tb" style="margin-top: 10px; width:100%; border-collapse: collapse;">
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 3px">Company Name</th>
                        <th class="tbHead" style=" width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{business_name}}</th>
                    </tr>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 5px 5px;">Company Address</th>
                        <th class="tbHead" style="width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{business_address}}</th>
                    </tr>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 5px 5px;">Contact Person</th>
                        <th class="tbHead" style="width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{requester_name}}</th>
                    </tr>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 5px 5px;">Email</th>
                        <th class="tbHead" style="width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{email_id}}</th>
                    </tr>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 5px 5px;">Mobile</th>
                        <th class="tbHead" style="width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{phone_number}}</th>
                    </tr>
                    <tr class="headRow">
                        <th class="tbHead" style="border: 1px solid black; font-size: 13px; padding: 5px 5px;">GST Number</th>
                        <th class="tbHead" style="width: 500px; border: 1px solid black; font-size: 13px; padding: 5px 5px;">{{gst}}</th>
                    </tr>
                </table>
                </br>
                </br>
                
                <table class="tb" style="width: 100%;">
                <thead>
                    <tr class="headRow" style="width: 100%;">
                        <th class="tbHead" style="padding: 0 5px; width: 50%">
                            <div style="font-size: 12px;">For Evitamin Business Consulting Private Limited</div>
                            <div style="font-size: 12px;">Mr. Vaibhav Daga</div>
                            <div style="font-size: 12px;">Director</div>
                        </th>
                        <th class="tbHead" style="padding: 0 5px; width: 50%">
                            <div style="font-size: 12px;">For {{business_name}}</div>
                            <div style="font-size: 12px;">Mr. {{name_for_mou}}</div>
                            <div style="font-size: 12px;">{{designation}}</div>
                        </th>
                        </tr>
                </thead>
                </table>
                
            </ol>