<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.8.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <div class="w-screen h-screen bg-slate-900">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse w-96">
              <div class="text-center lg:text-left">
                {% comment %} <h1 class="text-5xl font-bold">Login now!</h1> {% endcomment %}
                {% comment %} <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p> {% endcomment %}
              </div>
              
              {% load static %}
              
              <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="flex justify-center my-2" >
                    <div class="w-auto h-auto rounded-full bg-slate-100">
                        <img class="w-20 h-20 p-3" src="/static/images/evitamin_logo.png">
                    </div>
                </div>
                <div class="main_card card-body">
                    {% if error %}
                        {% comment %} <h1 class="text-center font-bold text-2xl mb-3">Invitation</h1> {% endcomment %}
                        <p class="mb-3 text-center"><span class="capitalize font-bold text-red-600">{{error}}</span></p>
                        <button class="btn btn-success  accepted">Try Again</button>
                    {% elif link_error %}
                        <p class="mb-3 text-center"><span class="capitalize font-bold text-red-600">{{link_error}}</span></p>
                    {% elif success %}
                        {% comment %} <h1 class="text-center font-bold text-2xl mb-3">Invitation</h1> {% endcomment %}
                        <p class="mb-3 text-center"><span class="capitalize font-bold text-red-600">{{success}}</span></p>
                        <script>
                            setTimeout(()=>{
                                window.location.href="http://10.20.52.37:3000/";
                            },2000)
                        </script>
                        {% comment %} <button class="btn btn-success accepted">Try Again</button> {% endcomment %}

                    {% else %}

                    <h1 class="text-center font-bold text-2xl mb-3">Invitation</h1>
                    <p class="mb-3 text-center">Hello <span class="capitalize font-bold">{{data.first.name}}</span>, You were invitated to join Evitamin Leam Management Portal, click accept to create password?</p>
                    <button class="btn btn-success  accepted">Accept</button>
                    {% comment %} <button class="btn btn-outline decliened">Decline</button> {% endcomment %}
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
    </div>

</body>
<script>
    
    function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        main_card.innerHTML = `
        <div class="text-center text-2xl mt-3 tracking-widest w-full">Create Password</div>
        <form class="card-body p-3" method="POST">
            {% csrf_token %}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password</span>
                </label>
                <input type="password" name="password" placeholder="Password" class="input input-bordered" required />
            </div>
          <div class="form-control">
              <label class="label">
                  <span class="label-text">Repeat Password</span>
                </label>
                <input type="password" name="repeat_password" placeholder="Repeat password" class="input input-bordered" required />
                {% comment %} <label class="label"> {% endcomment %}
                    {% comment %} <a href="#" class="label-text-alt link link-hover">Forgot password?</a> {% endcomment %}
                    {% comment %} </label> {% endcomment %}
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary submit">Update Password</button>
                </div>
            </form>
        `
    }

    {% comment %} function invitationAccepted(){
        const main_card = document.querySelector('.main_card');
        
        main_card.innerHTML = `

        `
    } {% endcomment %}



    const accepted = document.querySelector('.accepted');
    {% comment %} const decliened = document.querySelector('.decliened'); {% endcomment %}

    accepted.addEventListener('click', invitationAccepted)

        
</script>
</html>