{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your PDF Title</title>
    <link rel="stylesheet" href="">

    <link href="/static/assets/css/tw.css" rel="stylesheet" type="text/css" />
    <script src="/static/assets/js/tw.js"></script>
    <!-- Other stylesheets or styles go here -->
</head>
<body>

    

</body>
</html> {% endcomment %}


{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/tailwind.css' %}"> {% endcomment %}
</head>
<body>
    <div class="h-4 w-4 bg-slate-900" style="height:100px; width:100px; background:black;"></div>
</body>
</html>
